.input-field{
    width: 100%;
    padding: 0.5em 0;
    p{
        color: #fff;
        text-align: left;
        padding-bottom: 0.5em;
    }
    .input-box{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #cacae6;
        box-sizing: border-box;
        padding: 0.5em 0;
        border-radius: 0.5em;
        margin: 0 auto;
        .ico-input{
            padding-left: 1em;
            height: 1em;
            aspect-ratio: 1/1;
        }
        input{
            width: 70%;
            padding-left: 1em;
            background-color: transparent;
            border: none;
            outline: none;
            color: #190b02cb;
            &::placeholder{
                color: #190b02;
            }
        }
        
    }
}