$cor_cabecalho_1 : rgba(5, 6, 38, 0.996);
$cor_cabecalho_2 : #242424e3;
$cor_primaria : rgba(5, 6, 38, 0.996);
$cor_terciaria : #152130;

$cor_texto : #d7d4d4;

$cor_mesa : hsla(26, 3%, 45%, 0.919);
$cor_pedidos : rgba(24, 24, 24, 0.919);
$cor_cinza : #d9d9d9;
$cor_preto : #232323;
// paleta de cores quentes
$cor_1 : #d84d4d;
$cor_2 : #FFA500;
$cor_3 : #fdec2e;

// paleta do scroll
$cor_barra : #184e81e8;
$cor_fundo : #9eace4;
// fonte padrao
$fonte_normal : GandhiSansRegular;
$fonte_bold : GandhiSansBold;

@font-face {
    font-family: "GandhiSansRegular";
    src:local("GandhiSansRegular"),
    url("@/assets/fontes//GandhiSans-Regular.otf") format("truetype");
    font-weight: 500;
    font-display: swap;
  }
  
  @font-face {
    font-family: "GandhiSansBold";
    src:local("GandhiSansBold"),
    url("@/assets/fontes//GandhiSans-Bold.otf") format("truetype");
    font-weight: 700;
    font-display: swap;
  }

*{
    margin: 0;
    padding: 0;
    font-family: "GandhiSansRegular";
}
li{
    list-style: none;
}
body{
    background: linear-gradient(to right, $cor_terciaria 0%, $cor_primaria);

    min-height: 100vh;
}
/* Estilizando a barra de rolagem */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
  cursor: pointer;
  outline: none;
}

/* Estilizando o indicador da barra de rolagem */
::-webkit-scrollbar-thumb {
  background-color: $cor_barra; /* Cor da barra de rolagem */
  border-radius: 5px;
  

}

/* Estilizando a área de fundo da barra de rolagem */
::-webkit-scrollbar-track {
  border-radius: 5px;

  background-color: $cor_fundo; /* Cor de fundo da barra de rolagem */
}

// submit padrão
input[type="submit"]{
  padding: 1em;
  color: #fff;
  background-color: rgb(31, 116, 196);
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
} 
th, td {

  color: $cor_texto;
}
table{
  border: 1px dashed #e6e6e66d;
  margin: 0 auto;
}