.modal-table{
    z-index: 7;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: flex;

    align-items: center;
    justify-content: center;
   
    .container-table-add{
        position: relative;
        max-width: 60%;
        background-color: rgba(8, 10, 20, 0.708);
        padding: 2em;
        border-radius: 1em;
        button{
            position: absolute;
            top: 2%;
            right: 2%;
            background-color: rgb(202, 29, 29);
            color: #fff;
            opacity: 0.7;
            border: none;
            padding: 0.5em;
            border-radius: 0.5em;
            cursor:pointer;
            &:hover{
                opacity: 1;
            }
        }
        form{
            input[type="submit"]{
                margin-top: 2em;
            }
            input[type="datetime-local"], input[type="time"]{
                width: 85%;
                padding: 0.5em;
                border-radius: 0.5em;
                background-color: #e6d6ca;
                border: none;
                outline: none;
                color: #190b02cb;
                &::placeholder{
                    color: #190b02;
                }
            }
        }
        .form-field{
            display: flex;
        }
    }
}